# Maven
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
build.log
.m2/
.mvn/

# Hytale
HytaleServer.jar
hytale-docs.txt

# IDE - IntelliJ
.idea/
*.iml
*.iws

# IDE - VS Code
.vscode/

# OS
.DS_Store
Thumbs.db
